.front-page {
  background-color: #f5f7fe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.front-page .div {
  background-color: #f5f7fe;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.front-page .vector {
  height: 57px;
  left: 427px;
  position: absolute;
  top: 857px;
  width: 1px;
}

.front-page .img {
  height: 57px;
  left: 819px;
  position: absolute;
  top: 857px;
  width: 1px;
}

.front-page .eduvibes-logo {
  height: 62px;
  left: 75px;
  object-fit: cover;
  position: absolute;
  top: 68px;
  width: 55px;
}

.front-page .untitled-design {
  height: 562px;
  left: 756px;
  object-fit: cover;
  position: absolute;
  top: 189px;
  width: 610px;
}

.front-page .big-quote {
  height: 253px;
  left: 95px;
  position: absolute;
  top: 283px;
  width: 638px;
}

.front-page .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  height: 253px;
  position: relative;
  top: -1px;
  width: 638px;
}

.front-page .text {
  align-self: stretch;
  color: #000000;
  font-family: "Days One-Regular", Helvetica;
  font-size: 73.2px;
  font-weight: 400;
  letter-spacing: -2.93px;
  line-height: 73.2px;
  position: relative;
}

.front-page .text-wrapper {
  color: #000000;
  font-family: "Days One-Regular", Helvetica;
  font-size: 73.2px;
  font-weight: 400;
  letter-spacing: -2.93px;
  line-height: 73.2px;
}

.front-page .small-quote {
  height: 64px;
  left: 97px;
  position: absolute;
  top: 551px;
  width: 462px;
}

.front-page .gain-new-knwoledge {
  color: #585858;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 22.7px;
  font-weight: 600;
  left: 0;
  letter-spacing: -0.91px;
  line-height: 31.8px;
  position: absolute;
  top: -1px;
  width: 462px;
}

.front-page .learn-more {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 42.58px;
  left: 95px;
  position: absolute;
  top: 664px;
}

.front-page .frame {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 29.8px;
  position: relative;
}

.front-page .div-wrapper {
  align-items: center;
  background-color: #cae2ff;
  border-radius: 17.03px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 14.19px;
  height: 51.09px;
  justify-content: center;
  padding: 5.68px 25.55px;
  position: relative;
}

.front-page .text-wrapper-2 {
  color: #5e7bd5;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 19.9px;
  font-weight: 700;
  letter-spacing: -0.79px;
  line-height: 19.9px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.front-page .title {
  height: 24px;
  left: 97px;
  position: absolute;
  top: 189px;
  width: 365px;
}

.front-page .text-wrapper-3 {
  color: #4683bb;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: 3.36px;
  line-height: 24px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.front-page .bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 140px;
  position: absolute;
  top: 68px;
  width: 1226px;
}

.front-page .frame-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 34.06px;
  position: relative;
}

.front-page .text-wrapper-4 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.64px;
  line-height: 32px;
  margin-top: -1.42px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.front-page .text-wrapper-5 {
  color: #000000;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 19.9px;
  font-weight: 700;
  letter-spacing: -0.79px;
  line-height: 19.9px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.front-page .frame-3 {
  align-items: flex-start;
  background-color: #5e7bd5;
  border-radius: 17.03px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 14.19px;
  padding: 15.61px 25.55px;
  position: relative;
}

.front-page .text-wrapper-6 {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 19.9px;
  font-weight: 700;
  letter-spacing: -0.79px;
  line-height: 19.9px;
  margin-top: -1.42px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.front-page .learning-material {
  height: 101px;
  left: 79px;
  position: absolute;
  top: 834px;
  width: 266px;
}

.front-page .group {
  height: 101px;
  position: relative;
  width: 270px;
}

.front-page .text-wrapper-7 {
  color: #585858;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 19.9px;
  font-weight: 600;
  left: 65px;
  letter-spacing: -0.79px;
  line-height: 27.8px;
  position: absolute;
  top: 73px;
  white-space: nowrap;
}

.front-page .vector-2 {
  height: 32px;
  left: -1px;
  position: absolute;
  top: 20px;
  width: 37px;
}

.front-page .text-wrapper-8 {
  color: #000000;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-size: 48px;
  font-weight: 800;
  left: 65px;
  letter-spacing: -1.92px;
  line-height: 67.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.front-page .active-users {
  height: 95px;
  left: 511px;
  position: absolute;
  top: 840px;
  width: 232px;
}

.front-page .vector-3 {
  height: 38px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 39px;
}

.front-page .text-wrapper-9 {
  color: #585858;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 19.9px;
  font-weight: 600;
  left: 64px;
  letter-spacing: -0.79px;
  line-height: 27.8px;
  position: absolute;
  top: 66px;
  white-space: nowrap;
}

.front-page .text-wrapper-10 {
  color: #000000;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-size: 48px;
  font-weight: 800;
  left: 64px;
  letter-spacing: -1.92px;
  line-height: 67.2px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
}

.front-page .quiz {
  height: 123px;
  left: 898px;
  position: absolute;
  top: 837px;
  width: 444px;
}

.front-page .group-2 {
  height: 123px;
  position: relative;
  width: 448px;
}

.front-page .icon-edit {
  height: 39px;
  left: 0;
  position: absolute;
  top: 19px;
  width: 40px;
}

.front-page .AI-powered-quiz {
  color: #585858;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 19.9px;
  font-weight: 600;
  left: 59px;
  letter-spacing: -0.79px;
  line-height: 27.8px;
  position: absolute;
  top: 67px;
  width: 385px;
}

.front-page .text-wrapper-11 {
  color: #000000;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-size: 48px;
  font-weight: 800;
  left: 59px;
  letter-spacing: -1.92px;
  line-height: 67.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
