.front-page {
  background-color: #f5f7fe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* min-height: 100vh; */
  max-width: 100%; /* Add this line */
}

img {
  max-width: 400px; /* Add this line */
}

.front-page .div {
  background-color: #f5f7fe;
  height: 100%;
  width: 100%;
}

.front-page .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  height: 273px;
  left: 95px;
  position: absolute;
  top: 222px;
  width: 638px;
  margin: 0px;
}

p.text {
  margin: 0px;
}

.front-page .text {
  align-self: stretch;
  color: #000000;
  font-family: "Days One-Regular", Helvetica;
  font-size: 10.2px;
  font-weight: 400;
  letter-spacing: -2.93px;
  line-height: 50.2px;
}

.front-page .text-wrapper {
  color: #000000;
  font-family: "Days One-Regular", Helvetica;
  font-size: 50.2px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1px;

}

.front-page .gain-new-knwoledge {
  color: #585858;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 22.7px;
  font-weight: 600;
  left: 115px;
  letter-spacing: -0.91px;
  line-height: 31.8px;
  position: absolute;
  top: 400px;
  width: 462px;
  margin: 0px;
  text-align: left;
}

.front-page .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 42.58px;
  left: 95px;
  position: absolute;
  top: 504px;
}

.front-page .frame-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 29.8px;
  position: relative;
  top: 0px;
}

.front-page .div-wrapper {
  align-items: center;
  background-color: #cae2ff;
  border-radius: 17.03px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 14.19px;
  height: 51.09px;
  justify-content: center;
  padding: 5.68px 15.55px;
  position: relative;
}

text .text-wrapper-2 {
  color: #5e7bd5;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 19.9px;
  font-weight: 700;
  letter-spacing: -0.79px;
  line-height: 19.9px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
  cursor: pointer;
}

.front-page .vector {
  height: 38px;
  left: 511px;
  position: absolute;
  top: 655px;
  width: 39px;
}

.front-page .text-wrapper-3 {
  color: #585858;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 19.9px;
  font-weight: 600;
  left: 144px;
  letter-spacing: -0.79px;
  line-height: 27.8px;
  position: absolute;
  top: 700px;
  white-space: nowrap;
}

.front-page .img {
  height: 57px;
  left: 427px;
  position: absolute;
  top: 857px;
  width: 1px;
}

.front-page .text-wrapper-4 {
  color: #585858;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 19.9px;
  font-weight: 600;
  left: 575px;
  letter-spacing: -0.79px;
  line-height: 27.8px;
  position: absolute;
  top: 700px;
  white-space: nowrap;
}

.front-page .text-wrapper-5 {
  color: #4683bb;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 19px;
  font-weight: 700;
  left: 97px;
  letter-spacing: 3.36px;
  line-height: 24px;
  position: absolute;
  top: 158px;
  white-space: nowrap;
}

.front-page .frame-3 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 140px;
  position: absolute;
  top: 68px;
  width: 1100px;
}

.front-page .frame-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 34.06px;
  position: relative;
}

.front-page .text-wrapper-6 {
  color: #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.64px;
  line-height: 32px;
  margin-top: -1.42px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.front-page .text-wrapper-7 {
  color: #000000;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 19.9px;
  font-weight: 700;
  letter-spacing: -0.79px;
  line-height: 19.9px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.front-page .frame-5 {
  align-items: flex-start;
  background-color: #5e7bd5;
  border-radius: 17.03px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 14.19px;
  padding: 15.61px 25.55px;
  position: relative;
}

.front-page .text-wrapper-8 {
  color: #ffffff;
  font-family: "Montserrat-Bold", Helvetica;
  font-size: 19.9px;
  font-weight: 700;
  letter-spacing: -0.79px;
  line-height: 19.9px;
  margin-top: -1.42px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.front-page .vector-2 {
  height: 32px;
  left: 78px;
  position: absolute;
  top: 655px;
  width: 37px;
}

.front-page .icon-edit {
  height: 39px;
  left: 898px;
  position: absolute;
  top: 655px;
  width: 40px;
}

.front-page .text-wrapper-9 {
  color: #000000;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-size: 48px;
  font-weight: 800;
  left: 144px;
  letter-spacing: -1.92px;
  line-height: 67.2px;
  position: absolute;
  top: 633px;
  white-space: nowrap;
}

.front-page .text-wrapper-10 {
  color: #000000;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-size: 48px;
  font-weight: 800;
  left: 575px;
  letter-spacing: -1.92px;
  line-height: 67.2px;
  position: absolute;
  top: 633px;
  white-space: nowrap;
}

.front-page .vector-3 {
  height: 57px;
  left: 819px;
  position: absolute;
  top: 857px;
  width: 1px;
}

.front-page .AI-powered-quiz {
  color: #585858;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 19.9px;
  font-weight: 600;
  left: 857px;
  letter-spacing: -0.79px;
  line-height: 27.8px;
  position: absolute;
  top: 700px;
  width: 385px;
}

.front-page .text-wrapper-11 {
  color: #000000;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-size: 48px;
  font-weight: 800;
  left: 957px;
  letter-spacing: -1.92px;
  line-height: 67.2px;
  position: absolute;
  top: 633px;
  white-space: nowrap;
}

.front-page .eduvibes-logo {
  height: 62px;
  left: 75px;
  position: absolute;
  top: 64px;
  width: 50px;
  height: 55px;
}

.front-page .untitled-design {
  height: 262px;
  left: 556px;
  object-fit: cover;
  position: absolute;
  top: 189px;
  width: 610px;
}
